<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Not a Problem</string>
		<key>goal-short</key>
		<string>X = ¬A (X is not A)</string>
		<key>goal-long</key>
		<string>After the train has stopped, output X should show the opposite value as input A.</string>
		<key>goal-values</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>victory-user-unlocks</key>
		<array>
			<string>FLUserUnlockLevel1</string>
			<string>FLUserUnlockGateNot</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>This And That</string>
		<key>goal-short</key>
		<string>X = A ∧ B (X is A and B)</string>
		<key>goal-long</key>
		<string>After the train has stopped, output X should be 1 if (and only if) A and B are 1.</string>
		<key>goal-values</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>victory-user-unlocks</key>
		<array>
			<string>FLUserUnlockLevel2</string>
			<string>FLUserUnlockGateAnd</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Or Or Or</string>
		<key>goal-short</key>
		<string>X = A ∨ B (X is A or B)</string>
		<key>goal-long</key>
		<string>After the train has stopped, output X should be 1 if one or both of A and B are 1, and 0 otherwise.</string>
		<key>goal-values</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>victory-user-unlocks</key>
		<array>
			<string>FLUserUnlockLevel3</string>
			<string>FLUserUnlockGateOr</string>
		</array>
	</dict>
</array>
</plist>
