<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>To Be Or Not To Be</string>
		<key>goal-short</key>
		<string>X = ¬A (X is not A)</string>
		<key>goal-long</key>
		<string>After the train has stopped, output X should show the opposite value as input A.</string>
		<key>goal-values</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>And Another</string>
		<key>goal-short</key>
		<string>X = A ∧ B (X is A and B)</string>
		<key>goal-long</key>
		<string>After the train has stopped, output X should be 1 if (and only if) both A and B are 1.</string>
		<key>goal-values</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
	</dict>
</array>
</plist>
