<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Not a Problem</string>
		<key>goal-short</key>
		<string>X = ¬A (X is not A)</string>
		<key>goal-long</key>
		<string>If input A is 1, the train should set output X to 0; if A is 0, the train should set X to 1.</string>
		<key>goal-values</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>victory-user-unlocks</key>
		<array>
			<string>FLUserUnlockLevel1</string>
			<string>FLUserUnlockGateNot</string>
		</array>
		<key>record-defaults</key>
		<dict>
			<key>FLUserRecordSegmentsFewest</key>
			<integer>6</integer>
			<key>FLUserRecordJoinsFewest</key>
			<integer>2</integer>
			<key>FLUserRecordSolutionFastest</key>
			<integer>30</integer>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>This And That</string>
		<key>goal-short</key>
		<string>X = A ∧ B (X is A and B)</string>
		<key>goal-long</key>
		<string>If inputs A and B are both 1, the train should set output X to 1; otherwise, the train should set X to 0.</string>
		<key>goal-values</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>victory-user-unlocks</key>
		<array>
			<string>FLUserUnlockLevel2</string>
			<string>FLUserUnlockGateAnd</string>
		</array>
		<key>record-defaults</key>
		<dict>
			<key>FLUserRecordSegmentsFewest</key>
			<integer>8</integer>
			<key>FLUserRecordJoinsFewest</key>
			<integer>4</integer>
			<key>FLUserRecordSolutionFastest</key>
			<integer>60</integer>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Or Or Or</string>
		<key>goal-short</key>
		<string>X = A ∨ B (X is A or B)</string>
		<key>goal-long</key>
		<string>If either or both of inputs A and B are 1, the train should set output X to 1; otherwise, the train should set X to 0.</string>
		<key>goal-values</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>victory-user-unlocks</key>
		<array>
			<string>FLUserUnlockLevel3</string>
			<string>FLUserUnlockGateOr</string>
		</array>
		<key>record-defaults</key>
		<dict>
			<key>FLUserRecordSegmentsFewest</key>
			<integer>10</integer>
			<key>FLUserRecordJoinsFewest</key>
			<integer>4</integer>
			<key>FLUserRecordSolutionFastest</key>
			<integer>3600</integer>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Yeah: XOR</string>
		<key>goal-short</key>
		<string>X = A ⊻ B (X is A xor B)</string>
		<key>goal-long</key>
		<string>If inputs A and B are different, the train should set output X to 1; if A and B are the same, the train should set X to 0.</string>
		<key>goal-values</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>victory-user-unlocks</key>
		<array>
			<string>FLUserUnlockLevel4</string>
			<string>FLUserUnlockGateXor</string>
			<string>FLUserUnlockCircuitXor</string>
		</array>
		<key>record-defaults</key>
		<dict>
			<key>FLUserRecordSegmentsFewest</key>
			<integer>34</integer>
			<key>FLUserRecordJoinsFewest</key>
			<integer>16</integer>
			<key>FLUserRecordSolutionFastest</key>
			<integer>10800</integer>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Half Adder</string>
		<key>goal-short</key>
		<string>A + B = 2C + S</string>
		<key>goal-long</key>
		<string>Find the sum of two bits A and B. Output S should contain the sum, and output C should contain the carry bit.</string>
		<key>goal-values</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>victory-user-unlocks</key>
		<array>
			<string>FLUserUnlockLevel5</string>
			<string>FLUserUnlockCircuitHalfAdder</string>
			<string>FLUserUnlockCircuitFullAdder</string>
		</array>
		<key>record-defaults</key>
		<dict>
			<key>FLUserRecordSegmentsFewest</key>
			<integer>25</integer>
			<key>FLUserRecordJoinsFewest</key>
			<integer>10</integer>
			<key>FLUserRecordSolutionFastest</key>
			<integer>10800</integer>
		</dict>
	</dict>
</array>
</plist>
